@import "scss/About.scss";
@import "scss/NavigationBar.scss";
@import "scss/HomePage.scss";

$HomeLeftPadding: 48em;

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.error {
	color: red;
}

body {
	//background-position: center;
	background-color: #1d1f26;
	margin: 0px;
}

h2 {
	color: #16398b;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.social-media-link {
	height: 28px;
	padding-right: 15px;
}

.collapsed {
	display: none;
}

.sidebar ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 20px;
	padding-inline-end: 10px;
	color: white;
}

.home-page-content {
	background-color: rgba(0, 0, 0, 0.4);
	//   padding-left: 20px;
	//   padding-bottom: 20px;
	//   padding-right: 20px;
	//   padding-top: 5px;
	border-radius: 15px;

	margin-left: 160px; /* Same as the width of the sidebar */
	margin-right: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;

	p {
		color: white;
	}

	span {
		color: gray;
	}
}

label,
input,
form {
	display: table;
}

label::before {
	content: "\A";
	white-space: pre;
}

.page-content h1 {
	color: black;
}

.page-content {
	top: 10em;
	display: block;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: 8em;
	margin-right: 8em;
}

/* Style page content */
.main-content {
	margin-left: 160px; /* Same as the width of the sidebar */
	margin-right: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

p {
	color: black;
}
