@import "scss/Pages/Login.scss";
@import "scss/Pages/About.scss";
@import "scss/Pages/Blog.scss";
@import "scss/Components/Navigation/NavigationBar.scss";
@import "scss/Components/Links/SocialMediaLinks.scss";
@import "scss/Components/Project/ProjectList.scss";
@import "scss/Pages/Home.scss";
@import "scss/Components/Footer/Footer.scss";

$HomeLeftPadding: 48em;

p,
h1 {
	margin: 0;
}

#not-found {
	text-align: center;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.error {
	color: red;
}

body {
	background-color: #efefef;
	margin: 0px;
	overflow-y: scroll;
}

label::before {
	content: "\A";
	white-space: pre;
}

.content-wrapper {
	display: flex;
	justify-content: center;
}

.page-content {
	$headingColor: #16398b;
	display: block;
	position: relative;
	background-color: #e5e5e5;

	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 15px;
	min-width: 800px;
	width: 60%;

	li {
		line-height: 2rem;
		list-style: disclosure-closed;
	}

	h2,
	h1 {
		color: $headingColor;
		padding-top: 0.5rem;
		padding-bottom: 1rem;
	}

	h1,
	label {
		color: $headingColor;
	}
	// h1::after {
	// 	height: 2px;
	// 	width: 15rem;
	// 	margin-left: 1rem;
	// 	background-color: rgb(9, 239, 247);
	// 	font-weight: bold;
	// 	box-sizing: border-box;
	// 	content: "";
	// 	position: absolute;
	// 	top: 2rem;
	// }
	h2 {
		margin: 0;
	}
}

.rc-md-editor {
	min-height: 45rem;
}

.admin-form {
	$headingColor: #16398b;
	display: block;
	position: relative;
	background-color: #e5e5e5;

	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 15px;
	min-width: 800px;
	width: 80%;

	li {
		line-height: 2rem;
		list-style: disclosure-closed;
	}

	h2,
	h1 {
		color: $headingColor;
		padding-top: 0.5rem;
		padding-bottom: 1rem;
	}

	h1,
	label {
		color: $headingColor;
	}

	label {
		display: block;
		padding-bottom: 1rem;
		font-weight: bold;
	}

	h2 {
		margin: 0;
	}
	button,
	input[type="submit"] {
		margin-top: 1rem;
	}

	input[type="text"] {
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		padding: 0.25rem 0.5rem 0.25rem 0.5rem;
		min-width: 20rem;
	}
}

.admin-action {
	right: 2rem;
	position: absolute;
	display: flex;
	margin-top: 2rem;
	background-color: #2e3444;
	color: white;
	padding: 1rem;

	a {
		text-decoration: none;
		&:visited {
			color: white;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.list-content {
	display: flex;
	position: relative;
	background-color: #e5e5e5;

	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 15px;
	min-width: 800px;
	width: 80%;
}

/* Style page content */
.main-content {
	margin-left: 160px; /* Same as the width of the sidebar */
	margin-right: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

p {
	color: black;
}
