.main {
	width: 100%;
	background-repeat: no-repeat;
	background-color: #EFEFEF;
	margin-bottom: 15rem;
	height: 100%
}

#home-slide {
	width: 100%;
	height: 67em;

	.subtitle {
		text-align: center;
	}

	h1 {
		font-size: xxx-large;
		color: white;
		text-align: center;
		margin: 0px;
		padding-top: 3em;
		margin-right: 3em;
	}

	a:visited {
		color: white;
	}
	a:link {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
		text-decoration-color: rgb(9, 239, 247);
	}

	span {
		color: rgb(202, 202, 202);
		text-align: center;
		font-weight: bold;
		font-size: medium;
	}
	.expand-icon {
		height: 2.5em;
		padding-top: 45em;
	}
	.centered-icon {
		text-align: center;
	}
}
