@mixin list-Item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20rem;
	width: 20rem;
	position: relative;
	top: 2rem;
	margin-right: 5rem;
}

.list-wrapper {
	.project {
		@include list-Item();
		background-color: skyblue;
	}
	.blog {
		@include list-Item();
		background-color: green;
	}
	.blog-post {
		@include list-Item();
		background-color: red;
	}
	.admin-icons {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		.action-icon {
			height: 1.5rem;
			width: 1.5rem;
			padding-right: 0.5rem;
			cursor: pointer;
		}
	}
}

.list-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
