$leftContent: 30em;

.about-content {
  .tab-content {
    height: 25em;
    margin-left: $leftContent;
    padding-top: 2em;
  }
  .tab-titles {
    padding-bottom: 2em;
    margin-left: $leftContent;
  }
  h2 {
    color: white;
  }
}

.about-profile-image {
  height: 20em;
  border-radius: 2em;
  border: 1px solid #707070;
  margin-top: 2em;
  margin-left: 2em;
  position: absolute;
}
