$leftContent: 5em;

#about-content {
	display: flex;
	.tab-content {
		height: 25em;
		left: $leftContent;
		position: relative;
		padding-top: 2em;
		margin-right: 5em;
		width: 70em;
	}
	.tab-titles {
		padding-bottom: 2em;
		margin-left: $leftContent;
	}
	.tab-full {
		display: flex;
	}
	h2 {
		color: white;
	}
	.next-tab {
		float: right;
		margin: auto;
	}
}

.about-profile-image {
	height: 20em;
	border-radius: 2em;
	border: 1px solid #707070;
	margin-top: 2em;
	margin-left: 2em;
}
.about-social-links {
	left: 10em;
	position: relative;
}

#about-slide {
	padding-top: 7em;
	height: 47em;
}
